* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
  text-decoration: none;
}
.navbar {
  /* height: 85px; */

  background-color: black;
  padding: 15px 100px;
}
.navinner {
  display: flex;
  align-items: center;
  margin: 19px, 57px;
  /* top: 15px; */
}
.nava {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}
.a1 {
  margin-left: 80px;
  font-size: 24px;
  padding-top: 5px;
}
.a2 {
  font-size: 24px;
  margin: 4px 0 0 12px;
  padding-left: 12px;
  padding-bottom: 4px;
}
.input {
  /* margin-left: 500px; */
  padding: 6px 22px;
  background-size: cover;
  position: absolute;
  right: 100px;
  align-items: center;
  color: #ffffff;
}
.bu2 {
  height: 48px;
  width: 280px;
  font-size: 22px;
  background-color: #191a1b;
  border: 2px solid;
  color: #ffffff;

  border-radius: 10px;
  text-align: center;
  align-items: center;
}
.bu3 {
  height: 48px;
  width: 120px;
  font-size: 22px;
  background-color: #4c5fd5;
  margin-left: 16px;
  border-radius: 10px;
  color: #ffffff;
}
.container {
  /* height: 200px; */
  background-color: #dadbf1;
  padding: 100px;
}
section {
  align-items: center;
}
.p1 {
  font-size: 80px;
  color: #000000;
  margin-bottom: 16px;
  text-align: center;
}

.div1 {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 0 15px;
  width: 45%;
  margin: 0 auto;
  border: #032e58 1px solid;
  border-radius: 6px;
}
.input2 {
  color: black;
  width: 100%;
  text-align: start;
  height: 48px;
  border: none;
  outline: none;
  font-size: 20px;
  /* border: #0580fa 2px solid; */
}
span {
  color: rgb(15, 15, 15);
}
.img1 {
  /* height: 65px; */
  width: 74px;
  margin-right: 30px;
  margin-top: 50px;
}
.h1 {
  margin-top: 50px;
  margin-bottom: 16px;
  font-size: 24px;
}
.p2 {
  font-size: 24px;
  padding-bottom: 20px;
}
.maina1 {
  /* margin-top: 200px; */
  font-size: 24px;
  color: #4c5fd5;
}
.maina2 {
  /* margin-top: 200px; */
  font-size: 20px;
  color: #4c5fd5;
}
.maina {
  font-size: 20px;
  margin-top: 30px;
  color: #4c5fd5;
}
.main {
  height: auto;

  margin-top: 100px;
  margin: 7%;
  display: flex;
  flex-wrap: wrap;
}
.footcontainer {
  height: 400px;
  background-color: black;
  display: flex;
  padding: 10px 30px;
  color: #ffffff;
  justify-content: left;
}
ul a {
  color: #ffffff;
  display: block;
}
.fh1 {
  margin: 48px 0 16px;
}
.footc {
  margin: 0 66px;
  height: fit-content;
}
.fp {
  position: absolute;
  top: 1600px;
  right: 150px;
  font-size: 20px;
}
.box1 {
  width: 45%;
}
.box2 {
  width: 45%;
}
.box3 {
  width: 45%;
}
.box4 {
  width: 45%;
}
.box5 {
  width: 45%;
}
.box6 {
  width: 45%;
}
.imgdiv {
  padding-right: 24px;
}
.help {
  width: 110px;
  background-color: #4c5fd5;
  height: 44px;
  border-radius: 20px;
  border: #4c5fd5 2px solid;
  color: #ffffff;
  font-size: 18px;
  position: fixed;
  top: 900px;
  right: 50px;
}

/* .img1 {
  height: 80px;
  margin-right: 16px;
}
.box1 {
  font-size: 24px;
  display: flex;
  width: 50%;
}
.h1 {
  margin: 0px 0px 16px;
}
.p2 {
  margin: 20px;
}
.box3 {
  flex-wrap: wrap;
} */
.line {
  width: 33px;
  background-color: #ffffff;
  height: 2px;
  margin: 3px 3px;
}
.burger {
  display: none;
}
i {
  display: none;
}
.fa-solid .fa-question{
  margin-right: 2px;
  
}

@media screen and (min-width: 300px) and (max-width: 540px) {
  .navbar {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 80px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .navinner {
    height: 80px;
    vertical-align: middle;

    padding: 8px 0;
    height: 70px;
    align-items: center;
    align-content: center;
  }
  .nava {
    font-size: 20px;
    font: weight 2000px;
  }
  .input {
    opacity: 0;
  }
  .line {
    width: 24px;
    background-color: #ffffff;
    height: 2px;
    margin: 5px 3px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  i {
    display: block;
    position: absolute;
    color: #ffffff;
    right: 65px;

    /* left: 180px;
  font-size: larger; */
  }
  .p1 {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .container {
    padding: 80px 15px 115px;
  }
  .p1 {
    justify-content: center;
  }
  div .div1 {
    width: auto;
  }

  .box1 {
    display: flex;
    width: 90%;
  }

  .box2 {
    display: flex;
    width: 98%;
  }
  .box3 {
    display: flex;
    width: 98%;
  }
  .box4 {
    display: flex;
    width: 98%;
  }
  .box5 {
    display: flex;
    width: 98%;
  }
  .box6 {
    display: flex;
    width: 98%;
  }
  .img1 {
    width: 65px;
  }

  .fa {
    font-size: 12px;
    margin-bottom: 15px;
  }

  ul.ful {
    padding: 0%;
  }
  .footc {
    margin: 0 55px 0 0;
    justify-content: left;
    width: 135px;
  }
  .footcontainer {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    padding: 12px;
    justify-content: left;
  }
  .fp {
    font-size: large;
    position: relative;
    top: 10px;
    left: 5px;
  }
  .fa-solid .fa-question{
    margin-right: 2px;
    
  }
  
}

@media screen and (min-width: 540px) and (max-width: 768px) {
  .input {
    opacity: 0;
  }
  .navbar {
    height: 40px;
    justify-content: center;
  }
  .line {
    width: 24px;
    background-color: #ffffff;
    height: 2px;
    margin: 5px 3px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  i {
    display: block;
    position: absolute;
    color: #ffffff;
    right: 65px;
  }
  p.p1 {
    font-size: 60px;
  }
  div .div1 {
    width: auto;
  }
  .container {
    padding: 80px 25px 115px;
  }
  .main {
    padding-bottom: 15px;
  }
  .box1 {
    width: 91%;
  }
  .box2 {
    width: 91%;
  }
  .box3 {
    width: 91%;
  }
  .box4 {
    width: 91%;
  }
  .box5 {
    width: 91%;
  }
  .box6 {
    width: 91%;
  }
  ul.ful {
    padding: 0%;
  }

  .footcontainer {
    display: flex;
    flex-wrap: wrap;

    height: 600px;
    padding: 0 12px;
    justify-content: left;
  }
  .footc {
    margin: 0 110px 0 21px;
    width: 135px;
  }
  .fp {
    position: relative;
    top: 10px;
    left: 16px;
  }
  .fa-solid .fa-question{
    margin-right: 2px;
    
  }
}

@media screen and (min-width: 768px) and (max-width: 1028px) {
  .input {
    opacity: 0;
  }
  .navbar {
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .line {
    width: 24px;
    background-color: #ffffff;
    height: 2px;
    margin: 5px 3px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  i {
    display: block;
    position: absolute;
    color: #ffffff;
    right: 65px;
  }
  .navinner {
    height: 60px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  .container {
    padding: 90px 40px 115px 40px;
  }
  .p1 {
    font-size: 70px;
    font-weight: 1000px;
  }
  div .div1 {
    width: 720px;
  }
  section {
    padding-bottom: 30px;
  }
  .footcontainer {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: left;
    align-content: baseline;
  }
  .footc {
    margin: 0 180px 0 0;
    width: 175px;
  }
  .fp {
    position: relative;
    top: 70px;
    left: 526px;
  }
  .fa-solid .fa-question{
    margin-right: 2px;
    
  }
}
@media screen and (min-width: 1028px) and (max-width:1800px ) {

}
/* @media screen and (max-width: 450px) and (min-width: 300px) {
  .footcontainer {
    flex-wrap: wrap;
    height: max-content;
    font-size: 16px;
    justify-content: left;
    padding: 0 5px;
  }
  .footc {
    margin: 0%;
    padding: 0%;
  }
  .fp {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 10px;
  }
  ul.ful {
    padding-left: 0%;
    margin-right: 60px;
  }
  .box1 {
    
    
    margin-bottom: 50px;
    
  }

  .main {
    margin: 0%;
    margin-top: 50px;
    
   
  }
  .h1 {
    font-size: 24px;
  }
  .p2 {
    margin: 0%;
  }
   
} */
/* @media screen and (min-width: 451px) and (max-width: 819px) {
  .footcontainer {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 16px;

    text-align: left;
  }

  .fp {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 10px;
  }

  ul.ful {
    padding-left: 0%;
    margin-right: 60px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
  .footcontainer {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 24px;

    text-align: center;
  }
  .fa2 {
    margin-bottom: 5px;
  }
  p.pf {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .footcontainer {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 16px;
  }
  .footc {
    margin: 0%;
    padding: 0%;
  }
  .fa2 {
    margin-bottom: 50px;
  }
  .fp {
    margin-left: 700px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  .box1{
    display: flex;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
  }
} */
