* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
  text-decoration: none;
}
.navbar {
  /* height: 85px; */
  background-color: black;
  padding: 15px 100px;
}
.navinner {
  display: flex;
  align-items: center;
  margin: 19px, 57px;
  top: 15px;
}
.nava {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}
.a1 {
  margin-left: 80px;
  font-size: 24px;
  padding-top: 5px;
}
.a2 {
  font-size: 24px;
  margin: 4px 0 0 12px;
  padding-left: 12px;
  padding-bottom: 4px;
}
.input {
  margin-left: 500px;
  padding: 6px 22px;
  background-size: cover;
}
.bu2 {
  height: 43px;
  width: 250px;
  font-size: 22px;
  background-color: #191a1b;
  border: 1px solid;
  color: #ffffff;
  margin-left: 450px;
  border-radius: 10px;
  text-align: center;
}
.bu3 {
  height: 45px;
  width: 100px;
  font-size: 22px;
  background-color: #4c5fd5;
  margin-left: 16px;
  border-radius: 10px;
  color: #ffffff;
}
.container {
  height: 200px;
  background-color: #dadbf1;
  padding: 100px;
}
section {
  align-items: center;
}
.p1 {
  font-size: 80px;
  color: #191a1b;
  margin-bottom: 16px;
  text-align: center;
}

.div1 {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 0 15px;
  width: 45%;
  margin: 0 auto;
  border: #0580fa 1px solid;
}
.input2 {
  color: black;
  width: 100%;
  text-align: start;
  height: 48px;
  border: none;
  outline: none;
  font-size: larger;
}
span {
  color: rgb(15, 15, 15);
}
.img1{
  height: 65px;
  width: 65px;
  margin-right: 20px;
  margin-top: 50px;
}
.h1{
  margin-top: 50px;
  margin-bottom: 16px;
}
.p2{
  font-size: 24px;
  padding-bottom: 20px;
}
.maina1{
margin-top: 200px;
font-size: 24px;

}
.maina2{
  margin-top: 200px;
  font-size: 24px;
  
}  
 .main {
  height: 800px;

  margin-top: 100px;
  margin: 7%;
  display: flex;
  flex-wrap: wrap; 
} 
/* .img1 {
  height: 80px;
  margin-right: 16px;
}
.box1 {
  font-size: 24px;
  display: flex;
  width: 50%;
}
.h1 {
  margin: 0px 0px 16px;
}
.p2 {
  margin: 20px;
}
.box3 {
  flex-wrap: wrap;
} */ */
.footcontainer {
  background-color: black;
  height: 400px;
  padding: 0 30px px;
  color: #ffffff;
  display: flex;
  justify-content: left;
}
ul a {
  color: #ffffff;
  display: block;
}
.footc {
  margin: 0 150px;
  margin-left: 30px;
}

.fh1 {
  margin: 48px 0 16px;
}
.fa {
  margin-bottom: 38px;
}
.fp {
  /* position: relative;
  top: 210px;
  left: 80px; */
  font-size: 24px;
  margin-top: 250px;
  margin-right: 10px;
}
/* @media screen and (max-width: 450px) and (min-width: 300px) {
  .footcontainer {
    flex-wrap: wrap;
    height: max-content;
    font-size: 16px;
    justify-content: left;
    padding: 0 5px;
  }
  .footc {
    margin: 0%;
    padding: 0%;
  }
  .fp {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 10px;
  }
  ul.ful {
    padding-left: 0%;
    margin-right: 60px;
  }
  .box1 {
    
    
    margin-bottom: 50px;
    
  }

  .main {
    margin: 0%;
    margin-top: 50px;
    
   
  }
  .h1 {
    font-size: 24px;
  }
  .p2 {
    margin: 0%;
  }
   
} */
/* @media screen and (min-width: 451px) and (max-width: 819px) {
  .footcontainer {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 16px;

    text-align: left;
  }

  .fp {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 10px;
  }

  ul.ful {
    padding-left: 0%;
    margin-right: 60px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
  .footcontainer {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 24px;

    text-align: center;
  }
  .fa2 {
    margin-bottom: 5px;
  }
  p.pf {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .footcontainer {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 16px;
  }
  .footc {
    margin: 0%;
    padding: 0%;
  }
  .fa2 {
    margin-bottom: 50px;
  }
  .fp {
    margin-left: 700px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  .box1{
    display: flex;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
  }
} */
